<div class="multiSelect">
    <div class="select from">
        <label class="control-label" for="multiSelectAvailable">{{ availableLabel }} ({{ available.length }})</label>
        <select ng-model="options.available" multiple size="5" ng-options="e as e[displayAttr] for e in available"></select>
    </div>
    <div class="select buttons">
        <button type="button" class="btn mover toRight" ng-click="add()" title="Add selected" ng-disabled="options.available.length == 0"> <i class="glyphicon glyphicon-arrow-right"></i>
        </button>
        <button type="button" class="btn mover toLeft" ng-click="remove()" title="Remove selected" ng-disabled="options.current.length == 0"> <i class="glyphicon glyphicon-arrow-left"></i>
        </button>
    </div>
    <div class="select to">
        <label class="control-label" for="multiSelectSelected">{{ selectedLabel }} ({{ model.length }})</label>
        <select ng-model="options.current" multiple size="5" ng-options="e as e[displayAttr] for e in model"></select>
    </div>
</div>